<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TempleExample · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </head>
  <body class="h-screen bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-grey-200 font-sans transition transition-colors ease-out">
    <main role="main" class="container mx-auto">
      <div x-data="{text: ['🌞', '🌚']}" class="flex justify-end">
        <button
          class="p-2 bg-transparent text-xl"
          @click="document.documentElement.classList.toggle('dark'); text = text.reverse()"
          x-text="text[0]"
        >
          🌞
        </button>
      </div>
      <%= @inner_content %>
    </main>
  </body>
</html>
